
table 
    thead 
        tr 
          th Name 
          th Username
          th Email
          th City
    tbody 
        each user in users 
          tr 
            td= user.name
            td= user.username
            td= user.email
            td= user.address.city